{
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 140,
	"singleAttributePerLine": true,
	"bracketSameLine": true,
	"endOfLine": "lf",
	"overrides": [
		{
			"files": ["*.html"],
			"options": {
				"parser": "angular"
			}
		}
	]
}
